.App {
    font-family: sans-serif;
    text-align: center;
}

h1,
p {
    font-family: Lato, serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

thead tr th {
    font-weight: 500;
    text-align: left;
    background-color: #fafafa;
}

tbody tr:nth-child(even) {
    background-color: #fafafa;
}

th,
td {
    padding: 8px;
    overflow-wrap: break-word;
}

.css-1p5q5e5-MuiStack-root>:not(style)+:not(style) {
width: fit-content;
}

.makeStyles-cardArea-6 {
    width: initial;
    height: auto;
    border: 1px solid #3e52c3;
    margin: 5px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}